In [1]:
import sys
# for local development
RT_LIBS_PATH = "/Users/alex/Dev_projects/MyOwnRepo/rt_libs/src"
BA_LIBS_PATH = "/Users/alex/Dev_projects/MyOwnRepo/basic_application/src"
IT_LIBS_PATH = "/Users/alex/Dev_projects/RT/idle_trader"
sys.path.append(RT_LIBS_PATH)
sys.path.append(BA_LIBS_PATH)
sys.path.append(IT_LIBS_PATH)

In [2]:
from trader.model_provider import FileModelProvider

In [6]:
path = "/Users/alex/Dev_projects/RT/idle_trader/notebook/model_gen10.3-Real-02-Wide"

In [7]:
import os

In [8]:
model_path = os.path.join(path, "model")

In [9]:
model_path

'/Users/alex/Dev_projects/RT/idle_trader/notebook/model_gen10.3-Real-02-Wide/model'

In [10]:
fmp = FileModelProvider(model_path)

Model initialized from /Users/alex/Dev_projects/RT/idle_trader/notebook/model_gen10.3-Real-02-Wide/model

In [25]:
import numpy as np
import pandas as pd

In [32]:
def make_dataset(num=30, step=60, lowest_ask=96, highest_bid=95, ts_start=1000):

    lowest_asks = np.arange(lowest_ask, lowest_ask + step*num, step).reshape(-1, 1)
    highest_bids = np.arange(highest_bid, highest_bid + step*num, step).reshape(-1, 1)
    ts = np.arange(ts_start, ts_start + num * step, step).reshape(-1, 1)

    dataset = np.concatenate([ts, lowest_asks, highest_bids], axis=1)
    dataset = pd.DataFrame(dataset, columns=["ts", "lowest_ask", "highest_bid"])
    dataset["ts"] = dataset["ts"].astype(int)
    dataset = dataset.set_index("ts")
    return dataset

def test_init(self):
    step_size = 60
    dataset = self.make_dataset(num=30, step=step_size, lowest_ask=96, highest_bid=95, ts_start=1000)
    dpf = DataPointFactory(dataset, period=300, n_observation_points=5, n_future_points=3, step_size=step_size)
    return dpf

In [33]:
dataset = make_dataset()

In [35]:
dataset

      lowest_ask  highest_bid
ts
1000          96           95
1060         156          155
1120         216          215
1180         276          275
1240         336          335
1300         396          395
1360         456          455
1420         516          515
1480         576          575
1540         636          635
1600         696          695
1660         756          755
1720         816          815
1780         876          875
1840         936          935
1900         996          995
1960        1056         1055
2020        1116         1115
2080        1176         1175
2140        1236         1235
2200        1296         1295
2260        1356         1355
2320        1416         1415
2380        1476         1475
2440        1536         1535
2500        1596         1595
2560        1656         1655
2620        1716         1715
2680        1776         1775
2740        1836         1835

In [36]:
import numpy as np

In [38]:
s = np.array([1,2,3,4,5,6,7,8,9])

s1 = 3
s2 = 6

In [46]:
d1 = s1 < s
d2 = s < s2

print(d1)
print(d2)

[False False False  True  True  True  True  True  True]
[ True  True  True  True  True False False False False]

In [51]:
 (s1 < s) & (s < s2)

array([False, False, False,  True,  True, False, False, False, False])

In [49]:
d1 & d2

array([False, False, False,  True,  True, False, False, False, False])